<footer class="footer">
  <small>
    The <%= main %>
    by <%= derek %>
  </small>
  <nav>
    <ul>
      <% PagesHelper::LINKS.each do |n| %>
        <%= content_tag(:li) do %>
          <%= link_to n[:path] do %>
            <%= n[:link_name] %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </nav>
</footer>
