<%= form_for @user do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div id="profile">
    <div class="dashes"></div>
    <label id="background-comment">Click to browse or drag an image here</label>
  </div>

  <%= f.file_field :avatar, id: "mediaFile" %>
  <input type="text" id="shit" style="opacity: 0"/>


  <%= f.label :name, "Name" %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :surname, "Surname" %>
  <%= f.text_field :surname, class: 'form-control' %>

  <%= f.label :email, "e-mail" %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password, "Password" %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation, "Password confirmation" %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <%= f.submit "Save changes", class: "btn btn-primary offset" %>
<% end %>