<%= provide(:title, 'About') %>
<h1><%= @info %></h1>
<p>
  Обновлённая версия сайта Animoral, код которого был польностью переписан обрамлённым Ruby пером SQLite, добавляя
  капельки
  фреймворка Ruby on Rails в утреннюю чашечку CoffeeScript. Проект был реализован неким школьником, о котором можно
  будет прочитать на другой странице <%= link_to "контакты", contact_path %><br/>
  Главная страница <%= link_to "Animoral", root_path %>.<br/>
  Официальная страница разработчика: <%= link_to "ВКонтакте", "https://vk.com/derek2" %>,
  <%= link_to "Facebook", "https://www.facebook.com/sudoundoredo.san.5" %>

</p>
