<%= provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Эта страница была создана исключительно для ответов на будучи самые распространённые вопросы
</p>
<div>
  <%= link_to 'Что такое Animoral? Какие у него перспективы?', '', class: "spoiler_links" %>
  <div class="spoiler_body">
    Animoral- социальная сеть, которая была написана на языке Ruby. Само название не было придумано создателем сайта,
    оно держит начало из далёкого 2016, где было основано
    сообщество <%= link_to 'Animoral', 'https://vk.com/ani.moral' %>. С этого моменто и пошло такое название. Перспектив
    у форума будут невероятными. По сравнению с тестовыми сборками, на которые были установлены вредоносные скрипты,
    этот проект не будет уступать никому. Он уникален, не только потому что был написан на высокотипизированном языке,
    но и потому что он предложит Вам то, чего нет у других.
  </div>
</div>
<br/>
<div>
  <%= link_to 'У меня не получается зайти на сайт, что делать?', '', class: "spoiler_links" %>
  <div class="spoiler_body">
    Решение для этой проблемы есть. Попробуйте отключить блокировку cookie-файлов и очистите кэш браузера. Если новые
    попытки не обвенчаются успехом, напишите в багтрекер. Ссылка на него будет установлена позже.
  </div>
</div>
<br/>
<div>
  <%= link_to 'Я нашёл серьёзную уязвимость в проекте, куда обращаться?', '', class: "spoiler_links" %>
  <div class="spoiler_body">
    Не баг, а фича :)<br/>
    Ну ладно) В связи с тем, что проект относительно новый, то и, соответственно, в нём присутствует множество ошибок
    ввиду неопытности создателя. Сообщите о найденом баге в багтрекер. Самые активные пользователи будут не только
    приглашены к нам на работу, но и вознаграждены
  </div>
</div>
<br/>
<div>
  <%= link_to 'Я обнаружил неприемлемый контент на сайте, как на него пожаловаться?', '', class: "spoiler_links" %>
  <div class="spoiler_body">
    К большому сожалению, на многих участников сайта не влияют правила. В этом случае, старайтесь отправлять найденные
    нарушения в к нам на <%= link_to 'почту', 'mailto:senpaiguru1488@gmail.com' %>
  </div>
</div>
<br/>
<div>
  <%= link_to 'Я хочу работать на Вашем форуме, что мне для этого нужно сделать?', '', class: "spoiler_links" %>
  <div class="spoiler_body">
    На данный момент мы открываем вакансии только для IT-кругов, так как сообщество ещё не достаточно большое для
    безконтрольного его ведения. Подробности на <%= link_to '/jobs', 'jobs' %>
  </div>
</div>
<br/>
<div>
  <%= link_to 'Мне понравился Ваш проект, могу ли я его поддержать?', '', class: "spoiler_links" %>
  <div class="spoiler_body">
    Так как разработчики тратят много времени и денег на разработку, то они не могут не принять пожертвования от
    пользователей.<br/>
    Если Вы тот, кто решился подкинуть нам копеечку,
    то эти две ссылкочки для
    Вас) <%= link_to 'Qiwi#1', 'https://qiwi.me/plastic_animoral' %> <%= link_to 'Qiwi#2', 'https://qiwi.com/payment/form/99?extra%5B%27account%27%5D=79857241812' %>
  </div>
</div>
<br/>
<%= javascript_include_tag "help" %>