<%= provide(:title, 'Jobs') %>

<h1>Вакансии</h1>
Наше, пока что не активно развивающееся сообщество предлагает помочь в вёрстке кода всем желающим. Самые ценные вакансии
приведены ниже:
<p>
<li div>
  <%= link_to 'Ruby/Ruby on Rails разработчик', '', class: "spoiler_links" %>
  <div class="spoiler_body">
    Добровольные ряды, не оплачивается. Самая напряжённая, высоконагруженная и, в будущем, самая оплачиваемая
    вакансия. В обязанности
    входит превосходное знание языка Ruby, MVC, работы установщиков пакетов gem и npm, JSON и фреймворка RoR, а также
    создание API и его поддержка.
  </div>
</li>
<br/>
<li div>
  <%= link_to 'Frontend-разработчик', '', class: "spoiler_links" %>
  <div class="spoiler_body">
    Добровольные ряды, не оплачивается. В обязанности входит знание SASS/LESS/SCSS/CoffeeScript, хороший вкус и знание
    всевозможных фреймворков, в т.ч Compass, Grunt, Gulp и другие...
  </div>

</li>
<br/>
<li div>
  <%= link_to 'Backend-разработчик (не Ruby/RoR)', '', class: "spoiler_links" %>
  <div class="spoiler_body">
    Добровольные ряды, не оплачивается. В обязанности входит знание любого другого языка программирования, в т.ч Java,
    PHP, Python. Помимо этого, придётся разрабатывать и поддерживать API, для чего требуется знать JSON.
  </div>

</li>
<br/>
<li div>
    <%= link_to 'API-разработчик', '', class: "spoiler_links" %>
    <div class="spoiler_body">
      Добровольные ряды, не оплачивается. В обязанности входит, по возможности, знание библиотек VK, FB и др.
    </div>
</li>
<br/>
<li div>
  <%= link_to 'PR-менеджер', '', class: "spoiler_links" %>
  <div class="spoiler_body">
    з/п будет зависеть от самих Вас. 40% Вам и 60% — проекту
  </div>
</li>
<br/>
<%= javascript_include_tag "help.coffee" %>