<!DOCTYPE html>
<html lang="en" manifest="/manifest.appcache">
<%= render 'others/meta' %>
<%= render 'others/link' %>
<!--пока ты смотришь чужой исходный код — другие занимаются сексом-->
<head>
  <%= render 'application/favicon' %>
  <title><%= full_title(yield(:title)) %></title>
  <%= render 'others/head' %>
  <%= render 'others/shim' %>
</head>
<body>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/coffee-script/1.12.8/coffee-script.min.js.map"></script>-->
<%= render 'others/header' %>
<div class="container">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <%= yield %>
  <%= render 'others/footer' %>
  <%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
